<div>
  <div class="relative overflow-hidden bg-sky-700 pb-32">
    <!-- Menu open: "bg-sky-900", Menu closed: "bg-transparent" -->
    <nav class="bg-transparent relative z-10 border-b border-teal-500 border-opacity-25 lg:border-none lg:bg-transparent">
      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="bg-sky-900 lg:hidden" id="mobile-menu">
        <div class="border-t border-sky-800 pt-4 pb-3">
          <div class="flex items-center px-4">
            <div class="flex-shrink-0">
              <% if @profile.image.attached? %>
                <%= image_tag url_for(@profile.image), class:"h-10 w-10 rounded-full", alt: "photo" %>
              <%else %>
                <img class="h-10 w-10 rounded-full" src="<%= url_to_image("avatar.png") %>" alt="photo">
              <% end %>
            </div>
            <div class="ml-3">
              <div class="text-base font-medium text-white"><%= @profile.first_name %></div>
              <div class="text-sm font-medium text-sky-200"><%= @profile.email %></div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Menu open: "bottom-0", Menu closed: "inset-y-0" -->
    <div aria-hidden="true" class="inset-y-0 absolute inset-x-0 left-1/2 w-full -translate-x-1/2 transform overflow-hidden lg:inset-y-0">
      <div class="absolute inset-0 flex">
        <div class="h-full w-1/2" style="background-color: #0a527b"></div>
        <div class="h-full w-1/2" style="background-color: #065d8c"></div>
      </div>
      <div class="relative flex justify-center">
        <svg class="flex-shrink-0" width="1750" height="308" viewBox="0 0 1750 308" xmlns="http://www.w3.org/2000/svg">
          <path d="M284.161 308H1465.84L875.001 182.413 284.161 308z" fill="#0369a1" />
          <path d="M1465.84 308L16.816 0H1750v308h-284.16z" fill="#065d8c" />
          <path d="M1733.19 0L284.161 308H0V0h1733.19z" fill="#0a527b" />
          <path d="M875.001 182.413L1733.19 0H16.816l858.185 182.413z" fill="#0a4f76" />
        </svg>
      </div>
    </div>
    <header class="relative py-10">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-white">Profile by: <%= @profile.first_name %></h1>
      </div>
    </header>
  </div>

  <main class="relative -mt-32">
    <div class="mx-auto max-w-screen-xl px-4 pb-6 sm:px-6 lg:px-8 lg:pb-16">
      <div class="overflow-hidden rounded-lg bg-white shadow">
        <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
          <aside class="py-1 lg:col-span-1">

          </aside>

          <form class="divide-y divide-gray-200 lg:col-span-9" action="#" method="POST">
            <!-- Profile section -->
            <div class="py-6 px-4 sm:p-6 lg:pb-8">
              <div>
                <h2 class="text-lg font-medium leading-6 text-gray-900">Profile</h2>
                <p class="mt-1 text-sm text-gray-500">This information will be displayed publicly so be careful what you share.</p>
              </div>

              <div class="mt-6 flex flex-col lg:flex-row">
                <div class="flex-grow space-y-6">
                  <div>
                    <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                    <div class="mt-1 flex rounded-md shadow-sm">
                      <span class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-50 px-3 text-gray-500 sm:text-sm">domain.com/</span>
                      <input type="text" name="username" id="username" placeholder="Nombre Usuario" autocomplete="username" class="block w-full min-w-0 flex-grow rounded-none rounded-r-md border-gray-300 focus:border-sky-500 focus:ring-sky-500 sm:text-sm" value="<%= @profile.username %>" disabled>
                    </div>
                  </div>

                  <div class="mt-4">
                    <label for="bio" class="block text-sm font-medium text-gray-700">About</label>
                    <div class="mt-1">
                      <textarea type="text" id="bio" name="profile[bio]" placeholder=" Biografia" rows="3" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-sky-500 focus:ring-sky-500 sm:text-sm" disabled><%= @profile.bio %></textarea>
                    </div>
                    <p class="mt-2 text-sm text-gray-500">Breve descripción de tu perfil. Las URL tienen hipervínculos.</p>
                  </div>
                </div>

                <!--Image-->
                <div class="mt-6 flex-grow lg:mt-0 lg:ml-6 lg:flex-shrink-0 lg:flex-grow-0">
                  <p class="text-sm font-medium text-gray-700" aria-hidden="true">Photo</p>
                  <div class="mt-1 lg:hidden">
                    <div class="flex items-center">
                      <div class="inline-block h-12 w-12 flex-shrink-0 overflow-hidden rounded-full" aria-hidden="true">
                        <% if @profile.image.attached? %>
                          <%= image_tag url_for(@profile.image), class: "h-full w-full rounded-full", alt: "photo" %>
                        <%else %>
                          <img class="h-full w-full rounded-full" src="<%= url_to_image("avatar.png") %>" alt="photo">
                        <% end %>
                      </div>
                    </div>
                  </div>

                  <div class="relative hidden overflow-hidden rounded-full lg:block">
                    <% if @profile.image.attached? %>
                      <%= image_tag url_for(@profile.image), class: "relative h-40 w-40 rounded-full", alt: "photo" %>
                    <%else %>
                      <img class="relative h-40 w-40 rounded-full" src="<%= url_to_image("avatar.png") %>" alt="photo">
                    <% end %>
                    <label for="desktop-user-photo" class="absolute inset-0 flex h-full w-full items-center justify-center bg-black bg-opacity-75 text-sm font-medium text-white opacity-0 focus-within:opacity-100">
                      <input type="file" id="desktop-user-photo" name="user-photo" class="absolute inset-0 h-full w-full cursor-pointer rounded-md border-gray-300 opacity-0" disabled>
                    </label>
                  </div>
                </div>
              </div>
              <!--first name and last name-->
              <div class="mt-4 grid grid-cols-12 gap-6">
                <div class="col-span-12 sm:col-span-6">
                  <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
                  <input type="text" name="first-name" placeholder="Nombre" id="first-name" autocomplete="given-name" value="<%= @profile.first_name %>" class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm" disabled>
                </div>

                <div class="col-span-12 sm:col-span-6">
                  <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
                  <input type="text" name="last-name" placeholder="Apellido" id="last-name" autocomplete="family-name" value="<%= @profile.last_name %>" class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm" disabled>
                </div>
              </div>
              <!--Phone-->
              <div class="mt-4 grid grid-cols-12 gap-6">
                <div class="col-span-12 sm:col-span-6">
                  <label for="phone" class="block text-sm font-medium text-gray-700">Phone</label>
                  <input type="number" name="phone" placeholder="Teléfono" id="phone" value="<%= @profile.phone %>" class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm" disabled>
                </div>
                <!--Email-->
                <div class="col-span-12 sm:col-span-6">
                  <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                  <input type="text" name="email" placeholder="Email" id="email" autocomplete="family-name" value="<%= @profile.user.email %>" class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm" disabled>
                </div>
              </div>
              <!--Button-->
              <div class="mt-4 flex justify-end py-4 px-4 sm:px-6">
                <%= link_to "Editar Perfil", edit_profile_path(@profile), class: "inline-flex justify-center rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2" %>
                <%= link_to "Salir", root_path, class: "ml-5 inline-flex justify-center rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2" %>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
